<nav class="navbar fixed-top navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Iconic</span>
  
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Leftsidebar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Rightsidebar</a>
      </li>
    <li class="nav-item">
      <a class="nav-link " href="#">noSidebar</a>
    </li>
  </ul>
  </nav>