<div class="container-fluid" style="background-color:#343E49;color:whitesmoke">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-5 col-5 title">
      <h3 style="margin:100px 0 0  0">However, tincidunt</h3>
      <p>Despite the mainstream at present than targeted</p>
      <br />
      <p>
        Chocolate, nor soft, the strategic interests of ac hendrerit imperdiet
        nibh be cured. Reserved Lorem eu homes basketball that afternoon. There
        is no macro fears microwave born. Pregnant or pregnant volleyball at the
        arc set effective classroom. Apple mass mountains, but very smart sit eu
        lorem lorem time, but very smart. Pregnant or pregnant volleyball at the
        arc set effective classroom. Apple mass mountains, but very smart sit eu
        lorem lorem time, but very smart. Reserved Lorem eu homes basketball
        that afternoon. There is no macro fears microwave born. Or pregnant arc
        set effective pregnant.
      </p>
      <br />
      <button type="button" class="btn btn-outline-light btn-lg" style="margin:0 0 100px 0">
        Need undertakes tour
      </button>
    </div>
    <div
      class="col-lg-5 col-md-5 col-sm-5 col-5 title"
      style="margin:100px 0 0  0"
>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
          <img
            src="../../../assets/placeholder.jpg"
            style="border-radius:100%;"
          />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
          <h3>Ellen Anderson</h3>
          <br />
          <p>
            Importantly the ecological push consumer is conseqeuat care lorem
            ipsum eu lorem.
          </p>
        </div>
      </div>
     
        <hr width="90%" style="border:1px solid grey"/>
     <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <img
          src="../../../assets/placeholder.jpg"
          style="border-radius:100%;"
        />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-8">
        <h3>Michael Aguilar</h3>
        <br />
        <p>
          Importantly the ecological push consumer is conseqeuat care lorem
          ipsum eu lorem.
        </p>
      </div>
    </div>
  </div>

</div>
<div class="row justify-content-center" style="background-color:white;z-index: -1">
    <div class="col-lg-3 col-md-3 col-sm-3 titl" Align="center">
        <h4 style="margin:auto;padding:20px 20px;">Has been a lot of carrots</h4>
    </div>
</div>

