<div class="container-fluid">
  <div class="row justify-content-center" style="margin:80px 0 0 0">
    <div class="col-lg-7 col-md-7 col-sm-7 col-7">
      <h3>And a developer layer Performance</h3>
      <br>
      <form>
        <div class="row">
          <div class="col">
              <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          </div>
          <div class="col">
              <div class="input-group input-group-lg">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
              <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="subject">
          </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
              <div class="input-group input-group-lg">
            <textarea class="form-control" aria-label="With textarea" placeholder="Message" rows="8"></textarea>
          </div>
          </div>
        </div>
      </form>
      <br>
      <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <button type="button" class="btn btn-primary btn-lg">Send Message</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <button type="button" class="btn btn-secondary btn-lg">Clear Form</button>
          </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <h3>Importantly CNN</h3>
      <br>
      <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class='fab fa-twitter' id="twi" ></i>
        </div>
        <div class="col align-self-center">
          <p>@ Untitled-Corp.</p>
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class='fab fa-facebook-f' id="fac"></i>
        </div>
        <div class="col align-self-center">
          <p>facebook.com/untitled-corp
            </p>
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class='fab fa-linkedin-in' id="lin" ></i>
        </div>
        <div class="col align-self-center">
          <p>linkedin.com/untitled-corp</p>
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3 ">
            <i class='fas fa-envelope' id="blac" ></i>
        </div>
        <div class="col align-self-center">
          <p>info@untitled.tld</p>
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class='fa fa-phone' id="blac" style="transform:rotate(90deg)"></i>
        </div>
        <div class="col align-self-center">
          <p>(000) 000-0000
            </p>
      </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class='fas fa-home' id="blac"></i>
        </div>
        <div class="col align-self-center">
          <p>1234 Fictional Road #789
              Nashville, TN 00000
              United States</p>
      </div>
    </div>
  </div>
</div>